.page[b-u3ecphgl6m] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-u3ecphgl6m] {
    flex: 1;
}

.sidebar[b-u3ecphgl6m] {
    background-color: #73BBFE;
}

.top-row[b-u3ecphgl6m] {
    background-color: #73BBFE;
    border-bottom: 1px solid black;
    justify-content: space-between
}

    .top-row[b-u3ecphgl6m]  a, .top-row[b-u3ecphgl6m]  .btn-link {
        white-space: nowrap;
        margin-left: 0;
        text-decoration: none;
    }

    .top-row[b-u3ecphgl6m]  a:hover, .top-row[b-u3ecphgl6m]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-u3ecphgl6m]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


#blazor-error-ui[b-u3ecphgl6m] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-u3ecphgl6m] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
