@page "/"

<PageTitle>ChatWave</PageTitle>

<div class="container">
    <div class="position-relative">
        <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
            <h1 class="bg-dark text-white">Chat in the flow of time</h1>

        </div>
        <img class="img-fluid" src="header.png" width="1367" height="805">
    </div>
</div>
